.page {
    width: 100vw;
    overflow-x: hidden;
    font-family: 'Roboto';
    text-align: center;
    font-size: 28px;
    background: linear-gradient(135deg, black, #220033);
    display: grid;
    grid-template-columns: 1fr 1280px 1fr;
    grid-template-areas:
    "header header header"
    "concerts concerts concerts";
}