{% load static %}
<nav class="menu">
    <div class="menu__container">
        <a class="menu__item">Концерты</a>
        <a class="menu__item">Мерч</a>
        <a class="menu__item">Контакты</a>
    </div>
    <div class="share">
        <span class="share__span">Соцсети</span>
        <div class="share__container">
            <a class="share__link" href="#"><img class="share__logo share__logo_vk"
                                                 src="{% static 'images/vk.png' %}"></a>
            <a class="share__link" href="#"><img class="share__logo share__logo_youtube"
                                                 src="{% static 'images/youtube.png' %}"></a>
            <a class="share__link" href="#"><img class="share__logo share__logo_telegram"
                                                 src="{% static 'images/telegram.png' %}"></a>
            <a class="share__link" href="#"><img class="share__logo share__logo_insta"
                                                 src="{% static 'images/insta.png' %}"></a>
        </div>
    </div>
</nav>

