<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <title>Sellout</title>
</head>
<body class="page">
{% block content %}

{% endblock %}
<script src="{% static 'js/stars.js' %}"></script>
<script src="{% static 'js/share.js' %}"></script>
<script src="{% static 'js/cards.js' %}"></script>
</body>
</html>